<div class="card-header bg-dark text-white">Clientes</div>
<div class="card-body">
  <div class="my-4 row">
    <div class="col-md-6">
      <h5 class="card-title">Listado de clientes</h5>
    </div>
    <div class="col-md-6 text-right">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clients/form']">Crear nuevo cliente</button>
    </div>
  </div>
  <div *ngIf="clientes?.length === 0" class="alert alert-info">
    No hay registros en la base de datos!
  </div>
  <table class="table table-bordered table-striped" *ngIf="clientes?.length > 0">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Fecha</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{ cliente.id }}</td>
        <td>{{ cliente.nombre }}</td>
        <td>{{ cliente.apellido }}</td>
        <td>{{ cliente.email }}</td>
        <td>{{ cliente.createDate }}</td>
        <td>
          <button type="button" class="btn btn-primary" [routerLink]="['/clients/form', cliente.id]">Editar</button>
        </td>
        <td>
          <button type="button" class="btn btn-danger" (click)="deleteClient(cliente)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


